$primary-color: #272727;
$text-color: #fff;
$accent-color: #ff652f;
$btn-background-color: #016aba; 
$menu-background-color1: #677ae4;
$menu-background-color2: #05526A;
$background-color: #fdfefe;

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
