@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);
@import "./_resets.scss";
@import "./_variables.scss";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
  font-family: "Lato", "Open Sans", "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background-color: #fdfefe;
  color: #444;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

a {
  color: $accent-color;
  text-decoration: none;
}

button {
  font-size: 50%;
}

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

/**
 * Button
 */

.button {
  padding: 10px 30px 10px;
  text-decoration: none;
  color: #fff;
  background: #15142e;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.9;
  display: inline-block;
}

.button:hover {
  opacity: 5;
}
/**
 * Body Container
 */

.container {
  display: inline-block;
  max-width: 100% !important;
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.75);
  margin: auto;
  position: relative;
 
  
}
/**
 * Top Navigation
 */

 


.menu {
  height: 4em;
  background: #183a4c;
}

.navbar-brand {

  font-size: 2em;
}

.navbar-collapse {
  display: inline-block;
  flex-basis: auto;
  justify-content: flex-end;
}

.tomster {
  background: url(../assets/images/avtoyordam.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 53.63px;
  width: 48px;
  margin: -5px 10px;
  padding: 5px 10px;
}
.menu a,
.menu .links {
  display: inline-block;
}

.menu a {
  padding-left: 0px;
  padding-top: 10px;
}

.rentals label span {
  font-size: 140%;
  margin: 50px auto 20px;
  display: block;
  text-align: center;
  font-style: italic;
}

.rentals input {
  padding: 11px;
  font-size: 18px;
  width: 500px;
  margin: 20px auto 50px;
  background-color: rgba(255, 255, 255, 0.75);
  border: solid 1px lightgray;
  display: block;
}

.menu input:focus {
  background-color: #f9f9f9;
  outline: none;
}

.menu {
  & button {
    margin-right: 15px;
    position: relative;
    top: -1px;
    left: -5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #262626;
    cursor: pointer;
    opacity: 1;

    &:hover {
      background-color: rgba(255 255 255);
      opacity: 1;
    }
  }
}

.menu .results {
  display: none;
  position: absolute;
  width: 215px;
  top: 54px;
  left: 10px;
  background-color: #f6f6f6;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.results {
  margin-top: -10px;
}

.results li {
  list-style: none;
  padding: 10px 15px;
}

.menu .results li:hover {
  background: #f3f3f3;
}
/**
 * Content Area
 */
.categories-list {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  color: #444;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  box-sizing: inherit;
  padding: 0.25rem 2rem 0.25rem 0.25rem;
  font-size: 1.25rem;
  float: left;
  display: block;
  width: 100%;
  border-top: none;
  border-left: 1px solid #d5e3ea;
  margin-right: 0;

  #title {
    font-size: 1.5rem;
    padding: 1.5rem 0.75rem;
    line-height: 1;
  }

  ul {
    border-top: 1px dotted #d5e3ea;
    padding: 0;
    list-style-type: none;

    li {
      padding: 0.8rem;
      border-bottom: 1px dotted #d5e3ea;

      a {
        transition: color 0.1s linear;
        color: #2f7498;
        text-decoration: none;
      }
    }

    ul {
      li.indent {
        padding-left: 2.25rem;
        text-indent: -1rem;
        line-height: 1;
      }
    }
  }
}

.top-addons {
  color: #444;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  box-sizing: inherit;
  border-top: 1px solid #d5e3ea;
  padding-top: 1.5rem;
  margin-bottom: 2rem;

  .addon-list {
    font-size: 1.2rem;
    padding: 0;
    list-style-type: none;
    margin: 0;

    li {
      border-radius: 2px;
      border-bottom: 1px dotted #d5e3ea;
      padding: 0.9rem 1.5rem 0.9rem 1rem;

      .ranking {
        font-size: 1rem;
        color: #999;
        margin-right: 1rem;
        position: absolute;
      }

      .desc {
        padding-left: 3.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

li a {
  background-color: transparent;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #2f7498;
  text-decoration: none;
}

.large-search .search .search-wrapper {
  display: inline-block;
  width: 100%;
  position: relative;
}

.large-search .search input {
  margin: 0;
  padding-right: 3rem;
  border: 2px solid #2f7498;
}

/**
 * Similar to Jumbotron
 */

.jumbo {
  justify-content: space-between;
  text-align: left;
}

.jumbo h2 {
  font-size: 3.2em;
  margin-top: -25px;
}

.jumbo p,
.jumbo address {
  margin-bottom: 25px;
}

.jumbo img {
  height: 200px;
  position: relative;
  top: -25px;
  right: -20px;
}

/**
 * Individual Rental Listing
 */

.rental {
  margin-top: 15px;
  background-color: #f6f6f6;
  padding: 20px 25px;

  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.rental:hover {
  background-color: #f3f3f3;
}

.rental img {
  border-radius: 5px;
}

.rental .image {
  flex-grow: 0;
  flex-basis: 150px;
  margin: 20px 25px;
  text-align: center;
}

.rental button.image {
  position: relative;
  cursor: pointer;
  border: none;
  background: transparent;
  z-index: 1;
}

.rental button.image:focus {
  outline: none;
}

.rental button.image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin: -20px;
  padding: 20px;
  border-radius: 5px;
  background: #016aba;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.rental button.image:focus:after,
.rental button.image:hover:after {
  opacity: 0.1;
}

.rental .image img {
  max-width: 100%;
}

.rental .image.large {
  margin: 30px 25px 50px 25px;
  flex-basis: 100%;
}

.rental .image small {
  display: block;
  margin-top: 5px;
  margin-bottom: -15px;
  text-align: center;
  color: #016aba;

  /* This is needed to fix a safari clipping issue */
  position: relative;
}

.rental .image.large small {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 110%;
}

.rental .details {
  flex-basis: 50%;
  flex-grow: 2;
 
  height: 150px;
  margin: 20px 25px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
}

.rental h3 {
  flex-basis: 100%;
}

.rental h3 a {
  display: inline;
}

.rental .detail {
  flex-basis: 50%;
  font-weight: 300;
  font-style: italic;
  white-space: nowrap;
}

.rental .detail span {
  font-weight: 400;
  font-style: normal;
}

.rental .map {
  flex-grow: 0;
  flex-basis: 150px;
  font-size: 0;
  margin: 0px 25px;
}

.rental .map img {
  width: 150px;
  height: 150px;
}

.rental.detailed {
  background: none;
  align-items: flex-start;
}

.rental.detailed .image {
  flex-basis: 320px;
}

.rental.detailed .image.large {
  margin: 30px 25px 50px 25px;
  flex-basis: 100%;
}

.rental.detailed .details {
  height: auto;
}

.rental.detailed h3 {
  font-size: 200%;
  margin-bottom: 10px;
}

.rental.detailed .detail {
  margin: 5px 0px;
  flex-basis: 100%;
  flex-shrink: 2;
}

.rental.detailed .description {
  white-space: normal;
  flex-basis: 100%;
  flex-shrink: 1;
}

.rental.detailed .map {
  flex-basis: 100%;
  margin: 50px 25px 25px 25px;
}

.rental.detailed .map img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 919px) {
  .rental.detailed .image,
  .rental.detailed .image.large {
    margin: 30px 25px 25px 25px;
    flex-basis: 100%;
    cursor: default;
  }

  .rental.detailed .image:hover {
    flex-basis: 100%;
    cursor: default;
  }

  .rental.detailed .image small {
    display: none;
  }

  .rental.detailed button.image:hover:after {
    opacity: 0;
  }

  .rental.detailed button.image:focus:after {
    opacity: 0.1;
  }

  .rental.detailed .map {
    margin-top: 25px;
  }
}

/**
 * Utilities
 */

.light {
  font-weight: 300;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.screen-reader {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* Categories/authentication */

.content {
  color: #444;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  box-sizing: inherit;
  min-height: 500px;
  padding: 2rem 2rem 0;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  padding-right: 1rem;
}
.categories-shoew h1 {
  margin-bottom: 0.25em;
  font-size: 2.25em;
  text-rendering: optimizeLegibility;
}

.description {
  color: #999;
  font-style: italic;
}

.button-select button.selected {
  background-color: #2f7498;
  color: #fff !important;
}
.button-select {
  white-space: nowrap;
}

.categories-show .sort-controls {
  float: right;
}
