<div class="addon-stats">
    <!---->
    <div id="ember236" class="ember-view">
        <h4 class="single-column-header">Stats</h4>
        <p class="addon-install test-addon-install-command">
            ember install ember-cli-babel
        </p>

        <ul class="stats-list">
            <li class="test-addon-latest-version">
                <b>7.26.3</b> from <time title="2021-03-26T18:53:17.882Z" datetime="2021-03-26T18:53:17.882Z"
                    id="ember237" class="ember-view">25 days ago
                </time>
            </li>
            <li class="test-addon-top-downloaded">
                <div>
                    <small>TOP 10%!</small>
                </div>
                <b>2,432,194</b> downloads in last month
            </li>
            <!---->
            <li class="test-addon-repo-url">
                <b>repo</b>
                <div id="ember238" class="ember-view"><a
                        href="https://github.com/babel/ember-cli-babel"><b>github.com</b>/babel/ember-cli-babel</a>
                </div>
            </li>
            <li class="test-addon-package-url">
                <b>package</b>
                <div id="ember239" class="ember-view"><a
                        href="https://www.npmjs.com/package/ember-cli-babel"><b>npmjs.com</b>/package/ember-cli-babel</a>
                </div>
            </li>
            <li class="test-addon-license">
                <b>license</b> <a href="https://spdx.org/licenses/MIT">MIT</a>
            </li>
        </ul>



    </div>
</div>