<li class="test-addon-row">
    <div>
        <span class="score" data-score="10">
           {{@service.score}}
        </span>
        <div class="desc">
            <a href="/addons/ember-simple-auth" class="ember-view addon-link test-addon-name">
                <span class="addon-name">
                    {{@service.title}}
                
                </span>
                <small>
                   {{@service.desc}}
                </small>
            </a>
            <p>
                <small><span class="category-list test-category-list ember-view">
                        <span class="ember-view">
                            <a href="/categories/authentication" class="active ember-view">
                                Authentication
                            </a>
                        </span>
                    </span></small>
                <span class="last-updated">Last updated <time title="2021-01-29T15:28:14.858Z"
                        datetime="2021-01-29T15:28:14.858Z" class="ember-view">
                        3 months ago
                    </time></span>
            </p>
        </div>
    </div>
</li>
