{{page-title "Service"}}
<div class="row">
    <div class="col-8">
        <h1>{{model.title}}</h1>
        <p>Ember CLI addon for Babel</p>

        <span>
            <a href="/addons/lists/top" class="ember-view">
                Ranks #{{model.rank}} of the top 100 addons!
            </a>
        </span>

        <h4>
            <span class="score" data-score="10">

                Score <b>10</b>

            </span>

        </h4>
        <a href="#" class="info-action test-show-score-explanation" data-ember-action="" data-ember-action-223="223">
            Explain This
        </a>

        <h4>Categories</h4>

        <a href="/categories/build-tools" class="ember-view">

            Build tools

        </a>



        <a href="/categories/build-tools" class="ember-view">

            Build tools

        </a>


    </div>
    <div class="col-4">
        <ServiceInfo />
    </div>
</div>