{{page-title "Welcome"}}
<!-- This example requires Tailwind CSS v2.0+ -->
<div>

  <dl class="text-white max-w-2xl m-auto mt-5 grid grid-cols-1 rounded-lg bg-white overflow-hidden shadow divide-y divide-gray-200 md:grid-cols-2 md:divide-y-0 md:divide-x">
    <div class="bg-green-400 px-4 py-5 sm:p-6">
      <dt class="text-base font-normal">
        Total Subscribers
      </dt>
      <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
        <div class="flex items-baseline text-2xl font-semibold">
          User
          <span class="ml-2 text-sm font-medium text-gray-500">
            from 70,946
          </span>
        </div>
      </dd>
    </div>

    <div class="bg-yellow-400 px-4 py-5 sm:p-6">
      <dt class="text-base font-normal">
        Avg. Click Rate
      </dt>
      <dd class="mt-1 flex justify-between items-baseline md:block lg:flex">
        <div class="flex items-baseline text-2xl font-semibold">
          Master
          <span class="ml-2 text-sm font-medium text-gray-500">
            from 28.62%
          </span>
        </div>

      </dd>
    </div>
  </dl>
</div>
